<head>
    {% include "manage/header.html" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/flower_classify.js') }}?date=20210308"></script>
</head>
<!-- Page Content -->
<div id="content" class="container p-4 p-md-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Flower Classification</h1>
            <p class="lead">Daisy, Dandelion, Roses, Sunflowers, Tulips images can be predicted.</p>
            <div id="status"></div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <form id="flower-classify-form" class="form-inline justify-content-center" method="POST" enctype="multipart/form-data">
                <div class="form-group mb-4 w-50">
                    <label class="form-label" for="flower">Choose Flower Image</label>
                    <input type="file" class="form-control" id="flower" name="flower" accept="image/*"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block w-25">Classify</button>
            </form>

            <img id="image-preview" src="#" alt="your image" width="224" height="224" class="not-visible"/>
            <h3 id="flower-result" class="text-primary mt-3"></h3>
        </div>
    </div>
</div>
{% include "manage/footer.html" %}